# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Large datasets
data/raw/
data/processed/

# Model files
shap_values_full.pkl
*.joblib

# Outputs
outputs/*
!outputs/final_xgb_model.pkl
!outputs/label_encoder.pkl
!outputs/handoff_examples.json
!outputs/class_reliability.json